@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    height: auto;
}

#__next{
    height: 100%;
}


img{
    width: 100px;
    height: 100px;
}

input{
    width: 500px;
    height: 48px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    margin-left: 10px;
}
#createError {
    width: 500px;
    height: 48px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    margin-left: 10px;
    background-color: rgb(217, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 500px;
    height: 48px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;

    background-color: rgba(65, 196, 223, 0);
    margin-left: 10px;
}

p{
    width: 100%;
    height: 100%;
}

select{
    appearance: none;

}

option{
    background-color: aqua;
}

#menuGrid{
    display: grid;
    grid-template-columns: 250px minmax(max-content, 1fr);
    padding: 15px;
    gap: 10px;
    height: 100%;
    table-layout: fixed;
}

#chatMainGrid{
    display: grid;
    grid-template-columns: 250px minmax(max-content, 1fr);
    padding: 15px;
    gap: 10px;
    height: 100%;
}

.menuBackground {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
}

svg {
    width: 100%;
    height: 100%;
    
}

